<link rel="import" href="contact-user.html">
<link rel="import" href="card-mobile.html">
<link rel="import" href="member-balloon.html">
<link rel="import" href="card-buttons.html">
<link rel="import" href="peding-component.html">
<!--
`aptitude-blocks`


@demo demo/index.html 
-->

<dom-module id="aptitude-blocks">
  <template>
    <style>
      :host {
        display: block;
        width: 380px;
      }
      section{
        margin: 10px 0px;
      }
    </style>
    <h2>Hello [[prop1]]</h2>

    <section>
      <pending-component></pending-component>
      
    </section>

    <section>
      <card-mobile vertical="vertical">
       <member-balloon></member-balloon>
      </card-mobile>
    </section>


    <section>
      <card-mobile vertical="vertical">
        <card-buttons></card-buttons>
      </card-mobile>
    </section>

    <section>
      <card-mobile></card-mobile>
    </section>
    
    <section>
      <contact-user></contact-user>
    </section>
  </template>

  <script>
    Polymer({

      is: 'aptitude-blocks',

      properties: {
        prop1: {
          type: String,
          value: 'aptitude-blocks',
        },
      },

    });
  </script>
</dom-module>
