<dom-module id="card-buttons">
  
  <template>
    <style>
      :host{
        display: block;
      }
      .buttons{
        align-items: center;
        display: flex;
        height: 60px;
        justify-content: center;
      }
      .button{
        background-color: gray;
        border: solid 1px gray;
        border-radius: 5px;
        height: 30px;
        width: 85px;
      }
    </style>
    <div class="buttons">
      <div class="button"></div>
    </div>
  </template>
  <script>
    Polymer({
      is:"card-buttons"
    });
  </script>
  
</dom-module>