<link rel="import" href="card-mobile-style.html">
<!-- Custom icons-->
<iron-iconset-svg size="24" name="myicons">
<svg><defs>
<g id="chevron-left"><path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path></g>
<g id="chevron-right"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path></g>
<g id="expand-more"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path></g>
</defs></svg>
</iron-iconset-svg>

<dom-module id="card-mobile">
  <template>
    <style include="card-mobile-style">
      /**
        *   ### Styling
        *  `<card-mobile>` provides the following custom properties and mixins
        *   for styling:
        *
        *         Custom property              |             Description                     |   Default
        *  ------------------------------------|---------------------------------------------|-------------
        *    --card-mobile-avatar              | Mixin applied to avatar                     |     {}
        *    --card-mobile-arrow               | Mixin applied to arrow                      |     {}
        *    --card-mobile-card                | Mixin applied to card                       |     {}
        *    --card-mobile-card-after          | Mixin applied to card after pseudoelement   |     {}
        *    --card-mobile-category            | Mixin applied to category                   |     {}
        *    --card-mobile-date                | Mixin applied to date                       |     {}
        *    --card-mobile-detail              | Mixin applied to detail                     |     {}
        *    --card-mobile-image               | Mixin applied to image                      |     {}
        *    --card-mobile-information         | Mixin applied to information                |     {}
        *    --card-mobile-title               | Mixin applied to title                      |     {}
        *    --card-mobile-vertical            | Mixin applied to card in vertical way       |     {}
        *    --card-mobile-vertical-avatar     | Mixin applied to avatar in vertical way     |     {}
        *    --card-mobile-vertical-category   | Mixin applied to category in vertical way   |     {}
        *  ------------------------------------|-------------------------------------|-------|-----------
      */
      :host{
        display: block;
      }
    </style>
    <div class$="card [[vertical]]">
      <div class="avatar">
        <div class="image">
        </div>
      </div>
      <div class="information">
        <div class="detail">
          <p class="title"></p>
          <p class="category"></p>
        </div>
        <p class="date"></p>
      </div>
      <div class="arrow">
         <iron-icon icon="myicons:chevron-right"></iron-icon>
      </div>
      
      <content></content>
    </div>
  </template>
  <script>
      Polymer({
        is:"card-mobile"
      });
    </script>
  
</dom-module>