<dom-module id="card-mobile-style">
    
  <template>
    <style>
      .avatar{
        margin-right: 20px;
        @apply(--card-mobile-avatar);
      }
      .arrow{
        align-items: center;
        display: flex;
        width: 80px;
        @apply(--card-mobile-arrow);
      }
      .card{
        background-color: rosybrown;
        border-radius: 5px;
        box-shadow:3px 3px 3px #ddd;
        display: flex;
        padding: 20px;
        position: relative;
        @apply(--card-mobile-card);
      }
      .card:after{
        border-top-right-radius: 5px;
        border-top:  solid 25px lightslategray;
        border-right:  solid 25px lightslategray;
        border-left:  solid 25px transparent;
        border-bottom:  solid 25px transparent;
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        @apply(--card-mobile-card-after);
      }
      .category{
        background-color: lightgray;
        height: 10px;
        margin: 0;
        margin-top: 5px;
        width: 100%; 
        @apply(--card-mobile-category);
      }
      .date{
        align-self: flex-end;
        background-color: lightgray;
        height: 10px;
        margin: 0;
        width: 100%;
        @apply(--card-mobile-date);
      }
      .detail{
        width: 100%;
        @apply(--card-mobile-detail);
      }
      .image{
        background-color: lightslategrey;
        border-radius: 50%;
        height: 45px;
        width: 45px;
        @apply(--card-mobile-image);
      }
      .information{
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        height: 60px;
        @apply(--card-mobile-information);
      }
      .title{
        background-color: black;
        height: 20px;
        margin: 0;
        width: 100%;
        @apply(--card-mobile-title);
      }

      /* vertical */
      .card.vertical{
        flex-direction: column; 
        width: 40%;
        @apply(--card-mobile-vertical);
      }

      .card.vertical .avatar{
        align-items: center;
        display: flex;
        height: 100px;
        justify-content: center;
        width: 100%;
        @apply(--card-mobile-vertical-avatar);
      }
      .card.vertical .arrow{
        display: none;
      }
      .card.vertical .category{
        height: 15px;
        @apply(--card-mobile-vertical-cateogry);
      }
    </style>
  </template>
  
</dom-module>