<link rel="import" href="contact-user-style.html">
<!-- Custom icons-->
<iron-iconset-svg size="24" name="myicons">
<svg><defs>
<g id="chevron-left"><path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path></g>
<g id="chevron-right"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path></g>
<g id="expand-more"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path></g>
</defs></svg>
</iron-iconset-svg>

<dom-module id="contact-user">
  <template>
    <style include="contact-user-style">
      /**
        *   ### Styling
        *  `<contact-user>` provides the following custom properties and mixins
        *   for styling:
        *
        *         Custom property          |             Description        |   Default
        *  --------------------------------|--------------------------------|-------------
        *    --contact-user-arrow          | Mixin applied to arrow         |     {}
        *    --contact-user-contact        | Mixin applied to contact       |     {}
        *    --contact-user-image          | Mixin applied to image         |     {}
        *    --contact-user-image          | Mixin applied to image         |     {}
        *    --contact-user-information    | Mixin applied to information   |     {}
        *    --contact-user-name           | Mixin applied to name          |     {}
        *    --contact-user-picture        | Mixin applied to picture       |     {}
        *    --contact-user-position       | Mixin applied to position      |     {}
        *  --------------------------------|--------------------------------|-------------
      */
      :host{
        display: block;
      }
    </style>
    <div class="contact">
      <div class="picture">
        <div class="image"></div>
      </div>
      <div class="information">
        <p class="name"></p>
        <p class="position"></p>
      </div>
      <div class="arrow">
        <iron-icon icon="myicons:chevron-right"></iron-icon>
      </div>
    </div>
    <div class="contact">
      <div class="picture">
        <div class="image"></div>
      </div>
      <div class="information">
        <p class="name"></p>
        <p class="position"></p>
      </div>
      <div class="arrow">
        <iron-icon icon="myicons:chevron-right"></iron-icon>
      </div>
    </div>
    <div class="contact">
      <div class="picture">
        <div class="image"></div>
      </div>
      <div class="information">
        <p class="name"></p>
        <p class="position"></p>
      </div>
      <div class="arrow">
        <iron-icon icon="myicons:chevron-right"></iron-icon>
      </div>
    </div>
    <div class="contact">
      <div class="picture">
        <div class="image"></div>
      </div>
      <div class="information">
        <p class="name"></p>
        <p class="position"></p>
      </div>
      <div class="arrow">
        <iron-icon icon="myicons:chevron-right"></iron-icon>
      </div>
    </div>
  </template>
  <script>
    Polymer({
      is:"contact-user"
    });
  </script>
  
</dom-module>