<dom-module id="contact-user-style">
    
  <template>
    <style>
      .arrow{
        align-items: center;
        display: flex;
        justify-content: flex-start;
        width: 45px;
        @apply(--contact-user-arrow);
      }
      .contact{
        background-color: navajowhite;
        box-sizing: border-box;
        border-bottom: 1px solid lightslategrey;
        display: flex;
        padding: 20px;
        width: 100%;
        @apply(--contact-user-contact);
      }
      .image{
        background-color: lightslategrey;
        border-radius: 50%;
        height: 45px;
        width: 45px;
        @apply(--contact-user-image);
      }
      .information{
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        @apply(--contact-user-information);
      }
      .name{
        background-color: black;
        height: 20px;
        margin: 0;
        width: 100%;
        @apply(--contact-user-name);
      }
      .picture{
        align-items: center;
        display: flex;
        justify-content: center;
        margin-right: 20px;
        @apply(--contact-user-picture);
      }
      .position{
        align-self: flex-end;
        background-color: lightgrey;
        height: 15px;
        margin: 0;
        width: 100%;
        @apply(--contact-user-position);
      }
    </style>
  </template>
    
</dom-module>