<dom-module id="member-balloon-style">
	<template>
		<style>
			.ballons{
    		align-items: flex-end;
				display: flex;
				height: 50px;
				padding: 0px 20px;
				position: relative;
				z-index: 1;
        @apply(--member-balloon-ballons);
			}
			.circle{
				border-radius: 50%;
				background-color:papayawhip;
				border: 1px solid lightgray;
				height: 25px;
				position: relative;
				width: 25px;
        @apply(--member-balloon-circle);
			}
			.circle:nth-of-type(1){
				z-index: 1;
			} 
			.circle:nth-of-type(2){
				position: absolute;
				left: 35px;
				z-index: -1;
			}
			.circle:nth-of-type(3){
				position: absolute;
				left: 45px;
				z-index: -2;
			}
		</style>
	</template>
</dom-module>