<link rel="import" href="member-balloon-style.html">
<dom-module id="member-balloon">
  <template>
    <style include="member-balloon-style">
      /**
        *   ### Styling
        *  `<member-balloon>` provides the following custom properties and mixins
        *   for styling:
        *
        *         Custom property              |             Description          |   Default
        *  ------------------------------------|----------------------------------|-------------
        *    --member-balloon-ballons          | Mixin applied to ballons         |     {}
        *    --member-balloon-circle           | Mixin applied to circle          |     {}
        *  ------------------------------------|----------------------------------|--------------
      */
      :host{
        display: block;
      }
    </style>
    <div class="ballons">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
    </div>
  </template>
  <script>
    Polymer({
      is:"member-balloon"
    });
  </script>
</dom-module>