<link rel="import" href="pending-component-style.html">
<dom-module id="pending-component">    
  <template>
    <style include="pending-component-style">
      /**
        *   ### Styling
        *  `<pending-component>` provides the following custom properties and mixins
        *   for styling:
        *
        *         Custom property                |             Description                      |   Default
        *  --------------------------------------|----------------------------------------------|-------------
        *    --pending-component-avatar          | Mixin applied to avatar                      |     {}
        *    --pending-component-buttons         | Mixin applied to buttons                     |     {}
        *    --pending-component-button          | Mixin applied to button                      |     {}
        *    --pending-component-card-container  | Mixin applied to card container              |     {}
        *    --pending-component-container       | Mixin applied to container                   |     {}
        *    --pending-component-message         | Mixin applied to message                     |     {}
        *    --pending-component-message-after   | Mixin applied to message after pseudoelement |     {}
        *    --pending-component-name            | Mixin applied to name                        |     {}
        *    --pending-component-picture         | Mixin applied to picture                     |     {}
        *    --pending-component-img             | Mixin applied to image                       |     {}
        *    --pending-component-pending         | Mixin applied to pending                     |     {}
        *    --pending-component-profession      | Mixin applied to profession                  |     {}
        *    --pending-component-send-by         | Mixin applied to send                        |     {}
        *    --pending-component-user            | Mixin applied to user                        |     {}
        *  --------------------------------------|----------------------------------------------|--------------
      */
      :host{
        display: block;
        width: 100%;
      }
      card-mobile{
        --card-mobile-vertical:{
          width:auto;
        }
      }
    </style>
    <div class="pending">
        <div class="card-container">
          <card-mobile vertical="vertical"></card-mobile>
        </div>
        <div class="container">
          <p class="send-by">
          </p>
          <div class="avatar">
            <div class="picture">
              <div class="image"></div>
            </div>
            <div class="user">
              <p class="name"></p>
              <p class="profession"></p>
            </div>
          </div>
          <div class="message">
            <p class="p1"></p>
            <p class="p2"></p>
          </div>
          <div class="buttons">
            <div class="button"></div>
          </div>
        </div>
    </div>
  </template>
  <script>
      Polymer({
        is:"pending-component"
      });
  </script> 
</dom-module>