<dom-module id="pending-component-style">
  <template>
    <style>
      .avatar{
        display: flex;
        @apply(--pending-component-avatar);
      }
      .buttons{
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 20px;
        text-align: center;
        @apply(--pending-component-buttons);
      }
      .button{
        background-color: gray;
        border-radius: 5px;
        height: 30px;
        outline: none;
        width: 130px;
        @apply(--pending-component-button);
      }
      .card-container{
        height: 60%;
        width: 60%;
        @apply(--pending-component-card-container);
      }
      .container{
        background-color: lightgray;
        bottom: 0;
        box-sizing: border-box;
        height: 50%;
        overflow: hidden;
        padding: 40px;
        position: absolute;
        width: 100%;
        z-index: 1;
        @apply(--pending-component-container);
      }
      .message{
        background-color: #fff;
        border-radius: 5px;
        color: slategray;
        margin-top: 30px;
        padding: 20px;
        position: relative;
        text-align: center;
        @apply(--pending-component-message);
      }
      .message:after{
        content: "";
        border-top: 10px solid transparent;
        border-bottom: 10px solid white;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        height: 0;
        left:30px;
        position:absolute;
        top: -20px;
        width: 0;
        @apply(--pending-component-message-after);
      }
      .name{
        align-self: flex-end;
        background-color: black;
        font-size: 18px;
        height: 21px;
        margin: 0;
        width: 100%;
        @apply(--pending-component-name);
      }
      .picture{
        align-items: center;
        display: flex;
        justify-content: flex-end;
        width: 69px;
        @apply(--pending-component-picture);
      }
      .p1{
        background-color: lightgrey;
        height: 15px;
        margin:0;
      }
      .p2{
        background-color: lightgrey;
        margin: 0;
        margin-top: 5px;
        height: 15px;
      }
      .image{
        background-color: lightslategrey;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        @apply(--pending-component-img);
      }
      .pending{
        align-items: center;
        background-color: lightslategray;
        display: flex;
        height: 100vh;
        justify-content: center;
        margin-bottom: 10px;
        position:relative;
        @apply(--pending-component-pending);
      }
      .profession{
        background-color: white;
        height: 14px;
        font-size: 14px;
        margin: 0;
        margin-top: 5px;
        width: 100%;
        @apply(--pending-component-profession);
      }
      .send-by{
        background-color: black;
        height: 16px;
        width: 30%;
        @apply(--pending-component-send-by);
      }
      .user{
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        padding-left: 20px;
        @apply(--pending-component-user);
      }
    </style>
  </template>
</dom-module>